@import '~style/helpers';

.box{
    font-size: 15px;
    font-weight: 650;
    color:#6834e2;
    background-image: linear-gradient(#a8f2db, #3c52ea);
    border: 2.5pt solid rgb(45, 91, 160);
    width: 43%;
    height: 250px;
    padding: 1px;
    border-radius: 20pt;
    overflow:hidden;
    -moz-user-select: none;
	-html-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.rebox{
    overflow: hidden;
    font-size: 19px;
    font-weight: 650;
    color:#6834e2;
    background-color: rgba(52, 186, 239, 0.95);
    background-image: linear-gradient(#a8f2db, #3c52ea);
    border: 2.5pt solid rgb(255, 255, 255);
    width: 45%;
    height: 270px;
    border-radius: 20pt;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    z-index: 1;
    -moz-user-select: none;
	-html-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.box:hover{
    transition: all 0.2s ease-in-out ;
    background-color: rgba(230, 247, 254, 0.85);
    background-image: none;
    -moz-user-select: none;
	-html-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.box:active{
    background-color: rgba(52, 186, 239, 0.85);
    background-image: linear-gradient(#a8f2db, #3c52ea);
    transition: all 0s ease-in-out;
    -moz-user-select: none;
	-html-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

}


.whole{
    transition: all 0.2s ease-in-out;
    position:absolute;
    background-color: rgba(52, 186, 239, 1);
    background-image: linear-gradient(#a8f2db, #3c52ea);
    border: 2.5pt solid rgb(45, 91, 160);
    border-radius: 40pt;
    height:100%;
    width:100%;
    left:0;
    top:0;
    overflow: hidden;
    z-index: 2;
}

.backbutton{
    position: absolute;
    left: 40px;
    top: 20px;
    background-color: rgb(123, 175, 235);
    border-radius: 15px;
    width: 50pt;
    height: 28pt;
    transition: all 0.2s ease-in-out;
}

.closedtablerow{
    font-size:15px;
    font-weight: 50;
    color:black;
    height: 20pt;
    padding-top: 100px;

}

.insidemidcell{
    overflow: hidden;
    height: 10pt;
    padding-left: 30px;
    padding-right: 29px;
    padding-top: 0;
}

.tableEnlarged{
    top:150px;
    padding-top: 50px;
    padding-left: 130px;
    padding-right: 50px;
    padding-bottom: 500px;
    font-size: large;
    color:black;
}

.tableEnlargedtd {
    padding-left: 10px;
}
.rotatingwidget{
    transition:all 0.2s ease-in-out
}

.percipbackground{
    position:absolute;
    left: -20px;
    top: -10px;
}

