@import '~style/helpers';

.box{
    font-size: 15px;
    font-weight: 650;
    color:#551cd8;
    background-color: rgba(52, 186, 239, 0.85);
    background-image: linear-gradient(#a8f2db, #3c52ea);
    border: 1pt solid black;
    width: 40%;
    height: 250px;
    border-radius: 20pt;
    overflow:hidden;
}

.rebox{
    overflow: hidden;
    font-size: 19px;
    font-weight: 650;
    color:#551cd8;
    background-color: rgba(52, 186, 239, 0.95);
    background-image: linear-gradient(#a8f2db, #3c52ea);
    border: 1pt solid rgb(255, 255, 255);
    width: 45%;
    height: 270px;
    border-radius: 20pt;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    z-index: 1;
}

.box:hover{
    transition: all 0.2s ease-in-out ;
    background-color: rgba(230, 247, 254, 0.85);
    background-image: none;
}

.box:active{
    background-color: rgba(52, 186, 239, 0.85);
    background-image: linear-gradient(#a8f2db, #3c52ea);
    transition: all 0s ease-in-out;
    
}


.whole{
    transition: all 0.2s ease-in-out;
    position:absolute;
    background-color: rgba(52, 186, 239, 1);
    background-image: linear-gradient(#a8f2db, #3c52ea);
    border: black solid 3pt;
    border-radius: 40pt;
    height:100%;
    width:100%;
    left:0;
    top:0;
    overflow: hidden;
    z-index: 2;
}

.backbutton{
    position: absolute;
    left: 20px;
    top:20px;
    background-color: darkseagreen;
    border-radius: 10pt;
    width: 80pt;
    height:80pt;
    font-size: xx-large;
    transition: all 0.2s ease-in-out;
}

.closedtablerow{
    font-size:15px;
    font-weight: 50;
    color:black;
    height: 20pt;
    padding-top: 100px;

}

.insidemidcell{
    overflow: hidden;
    height: 10pt;
    padding-left: 25px ;
    padding-right: 25px ;
    padding-top: 0;
}

.tableEnlarged{
    top:150px;
    padding-top: 20px;
    padding-left: 140px;
    padding-right: 60px;
    font-size: large;
    color:black;
    border: black 2px solid;
    background-color:rgb(163, 204, 245)
}

.tableEnlargedtd {
    padding-left: 10px;
}

.rotatingwidget{
    transition:all 0.2s ease-in-out
}
