@import '~style/helpers';

.container {
	display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/background-iphone.jpg');
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 20px;
	margin: 0 auto;
	overflow: hidden;
	position:fixed;
	-moz-user-select: none;
	-html-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.header {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.details {
	flex: 4;
}

.city {
	font-size: 2em;
	font-weight: 400;
}

.conditions {
	font-size: 1.5em;
}
.temperature {
	margin-top: 20px;
	font-size: 2em;
	font-weight: 300;
	letter-spacing: -2px;
	color: white
}


.widgetTitle{
	margin-top: 10px;
	font-size: larger;
	color: purple;
}
.precip{
	position : fixed;
	margin-top: 150px;
	margin-bottom: 100px;
	right: 10;
	width: 300px;
}